/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background: black;
}

header {
  background-image: url(file:///Users/enoducotterd/Sites/14-techmag/14-techmag-ressources/web/code.jpg);
  background: black;
  border: 2px solid white;
  color: grey;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
}