/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background: black;
  font-family: 'Open Sans', sans-serif;
  margin: 19px 27px ;
}

.site-header {
  background-image: url(../img/code.jpg);
  border: 2px solid white;
  color: grey;
  padding: 25px 30px;
  margin-bottom: 20px;
}

.site-header em {
  font-weight: lighter;
  color: #33ff99;
}

.chapeau {
  padding: 30px;
}

.site-header h1 {
  font-family: 'Montserrat', sans-serif; 
  color: white;
}

div {
  background-color: #33ff99;
}

h1 {
  font-family: 'Montserrat', sans-serif; 
  color: black;
}

article {
  background-color: white;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

article figure {
  box-shadow: 2px 5px 5px;
  width: 100%;
  margin: auto;
  margin-bottom: 37px;
}

article h1 {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: bold;
}

header p {
  color: #cccccc;
}

.auteur {
  color: #33ff99;
}

.date {
  color: black;
}

.issue {
  font-size: small;
}

footer {
  color: white;
  border: 2px solid #33ff99;
  text-align: center;
}

.more-content {
  background-color: black;
  padding: 8 15;
  margin-top: 34px;
}

.more-content a {
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-weight: bold;
}