/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background: black;
  font-family: 'Open Sans', sans-serif;
}

.site-header {
  background-image: url(../img/code.jpg);
  border: 2px solid white;
  color: grey;
  padding: 25px 30px;
  margin-bottom: 20px;
}

.site-header em {
  font-weight: lighter;
  color: #33ff99;
}

.hat {
  padding: 30px;
}

.site-header h1 {
  font-family: 'Montserrat', sans-serif; 
  color: white;
}

div {
  background-color: #33ff99;
  padding: 33px 30px 51px;
}

div h2 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

article {
  background-color: white;
  padding: 30px 29px;
  margin-top: 20px;
  margin-bottom: 20px;
}

article figure {
  box-shadow: 2px 2px 2px;
  width: 100%;
  margin: auto;
  margin-bottom: 37px;
  font-size: small;
}

figcaption {
  padding: 9px;
}

article h1 {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: bold;
}

article img {
  box-sizing:content-box
}

header p {
  color: #cccccc;
}

.auteur {
  color: #33ff99;
}

.date {
  color: black;
}

.publisht {
  font-size: small;
}

footer {
  color: white;
  border: 2px solid #33ff99;
  text-align: center;
  margin-bottom: 19px;
}

.more-content {
  background-color: #444444;
  padding: 8px 15px;
  margin-top: 22px;
}

.more-content a {
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-weight: bold;
}